{% extends 'base.html'%}

{% block title%} {% endblock %}

{% block content%}
<h1 class="display-4 text-center text-light">Add Tag</h1>
<div class="jumbotron">
    <div class="row mt-5">
        <div class="col text-center">
            <form action="/users/new", method="POST">
                <div class="form-group">
                    <label for="tag">Name</label>
                    <input type="text" id="tag" name="tag_name" placeholder="Enter a name for the tag">
                </div>
                <a href="/tags" class="btn btn-outline-success btn-lg">Cancel</a>
                <button class="btn btn-outline-info btn-lg" type="submit">Add</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}