{% extends 'base.html'%}

{% block title %} Post <<{{post.title}}>>{% endblock%}

{%block content%}
    <h1 class="display-4">{{post.title}}</h1>
    <p>
        {{post.content}}
    </p>
    <p><em>By {{user.full_name}}</em></p>
    <div class="row">
        <a href="/users/{{user.id}}" class="btn btn-outline-primary btn-lg mr-2">Cancel</a>
        <a href="/posts/{{post.id}}/edit" class="btn btn-primary btn-lg mr-2">Edit</a>
        <form action="/posts/{{post.id}}/delete", method="POST">
            <button class="btn btn-danger btn-lg">Delete</button>
        </form>
    </div>
{% endblock %}