{% extends 'base.html'%}

{% block title%} {{user.full_name}} {% endblock %}

{% block content%}
    <div class="row">
        <div class="col-5">
            <img src="{{user.image_url}}" class="img-fluid img-thumbnail rounded" alt="" style="width: 200px">
        </div>
        <div class="col-7">
            <div class="row">
                <h6 class="display-4">{{user.full_name}}</h6>
            </div>
            <div class="row">
                <a href="/users/{{user.id}}/edit" class="btn btn-outline-primary btn-lg m-4 text-decoration-none">Edit</a>
                <form action="/users/{{user.id}}/delete", method="POST">
                    <button class="btn btn-outline-danger btn-lg m-4">Delete</button>
                </form>
            </div>
            <h6 class="display-4">Posts</h6>
            <div class="row">
                <ul>
                    {% for post in posts%}
                        <li><a href="/posts/{{post.id}}" class="text-light">{{post.title}}</a></li>
                    {%endfor%}
                </ul>
            </div>
            <a href="/users/{{user.id}}/posts/new" class="btn btn-outline-primary btn-lg m-4 text-decoration-none">Add Post</a>
        </div>
    </div>
{% endblock %}